@model VentaAutosMVC.Models.Marca


<h2>Eliminar Marca</h2>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
}


@section Scripts {
    <!-- Confirmación con SweetAlert antes de eliminar -->
    <script>document.getElementById("submitDeleteBtn").addEventListener("click", function (event) {
            event.preventDefault();

            Swal.fire({
                title: '¿Estás seguro?',
                text: "Estás a punto de eliminar esta marca.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, envía el formulario
                    document.getElementById("formEliminarMarca").submit();
                }
            });
        });</script>
}