@model IEnumerable<VentaAutosMVC.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="my-4 text-center">Listado de Autos</h2>

    <div class="row mb-3">
        <div class="col-md-12 text-right">
            <!-- Botón para crear nuevo -->
            @Html.ActionLink("Crear Nuevo Auto", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                    <th>@Html.DisplayNameFor(model => model.Color)</th>
                    <th>@Html.DisplayNameFor(model => model.Cilindros)</th>
                    <th>@Html.DisplayNameFor(model => model.Precio)</th>
                    <th>@Html.DisplayNameFor(model => model.Anio)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>@Html.DisplayNameFor(model => model.Marca.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoAuto.Tipo)</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Color)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cilindros)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Anio)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Marca.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoAuto.Tipo)</td>
                        <td class="text-center">
                            <!-- Botones de acciones -->
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Auto }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Auto }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Auto }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
